[run]
source = .
command_line = manage.py test
omit =
    ./venv/*,
    */migrations/*,
    */tests/*,
    *manage.py,
    *__init__.py,
    *asgi*,
    *wsgi*,
    *urls.py,
    *settings.py,

[report]
omit =
    ./venv/*,
    */migrations/*,
    */tests/*,
    *manage.py,
    *__init__.py,
    *asgi*,
    *wsgi*,
    *urls.py,
    *settings.py,